body {
    background-color: black;
    text-align: center; 
}
 

h1 {
  font-family: "Savate", sans-serif;
  color:  #e8f8f7;
  text-transform: uppercase;  
}

p {
    font-family: "Savate", sans-serif;
    color: #B8CFCE;
    font-size: 30px;
}

img {
    border: 5px solid white;
    width: 100%; 
    height: auto;
    
}

.div {
    width: 50%;
    margin: 100px auto 0 auto;
    box-sizing: border-box;
} 


